* {
    margin: 0px;
    padding: 0px;
  }
  body {
    font-size: 120%;
    background: #F8F8FF;
  }
  
  .header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: #5F9EA0;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
  }
  form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
  }
  .input-group {
    margin: 10px 0px 10px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  .input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
  }
  .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }
  .success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
  }
  html, body {
    padding: 0;
    margin: 0;
    font-family: Open Sans;
}
.heading1{
    font-family: Open Sans;
    font-size: 17.3333px;
    color:white;
}
#topText{
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 4px;
    white-space: nowrap;
    margin-bottom: 12px;
    z-index: 1;
}
#topBar{
    background-color:rgb(11, 128, 67);
    height: 48px;
    text-align: center;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;
}
#utilityBar{
    background-color: rgb(0, 0, 0);
    color: white;
}
#menuBar{
    height: 24px;
    width: 24px;
    font-size: 25;
    margin: 16px 12px;
    z-index: 2;
}
#pnhslogo40px{
    height: 40px;
    width: 40px;
    margin: 8px 4px -10px -4px;
}
#dimPane{
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: none;
    animation: fadeIn 0.5s;
}
#sideBar{
    width: 0;
    height: 100%;
    position: fixed;
    top: 48px;
    left: 0px;
    background-color: black;
    display: none;
    overflow: hidden;
    transition: width 1s ease-in-out;
    z-index: 4;
}
#sideBar a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
    text-indent: 10px;
}
#closeSideBarButton{

}
#searchBarButton{
    color: white;
    float: right;
    height: 24px;
    width: 24px;
    margin: 16px 12px;
}
#searchBarInput{
    height: 40px;
}
#tac{
  height: 100px;
  width: 100px;
}